<div class='compose-link-preview'>
  <span class='compose-link-preview-close-button ui-icon ui-icon-close'></span>
  <div class='compose-link-preview-left-column'>
    <img class='compose-link-preview-image' src='<%= imageUrl %>'/>
    <span class='compose-link-preview-title'><%= title %></span>
  </div>
  <br />
  <div class='compose-link-preview-right-column'>
    <span class='compose_link_preview_snippet'><%= snippet %></span>
    <br />
    <br />
    <span class='compose_link_preview_link'>
      <a href='<%= url %>'><%= url %></a>
    </span>
  </div>
</div>