<% if(!isMobile()) { %>
<div class="tm_content-toolbar">
  <div class="tm_schedule-compose">
    <button type="button" class="tm_button tm_button-submit new-delayed-email-button">
      <span>Compose a Scheduled Email</span>
      <svg class="icon"><use xlink:href="/images/symbols.svg#plus"></use></svg>
    </button>
  </div>

  <div class="expander"></div>

  <div class="tm_counter">
    <span class="tm_counter-label">This Week</span>
    <span class="tm_counter-value fgred"><%= weekTotal %></span>
  </div>

  <div class="tm_counter">
    <span class="tm_counter-label">All Queue</span>
    <span class="tm_counter-value"><%= total %></span>
  </div>

  <div class="tm_counter">
    <span class="tm_counter-label">Filter</span>
    <div class="dropdown period-dropdown">
      <button class="tm_button tm_button-caret period-dropdown-menu" data-toggle="dropdown">All Time</button>
      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="period-menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" data-days="-1">All Time</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-days="0">Today</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-days="1">Tomorrow</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-days="7">1 Week</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-days="14">2 Weeks</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-days="30">1 Month</a></li>
      </ul>
    </div>
  </div>
</div>
<% } %>

<% if (total > 0) { %>
  <% for (var month in delayedEmails) {
    current_month = month == moment(new Date()).format('MMMM YYYY') %>
    <dl>
      <dt class="tm_schedule-month month-collapse-expand"><%= month %></dt>
      <dd>
      <% _.each(delayedEmails[month], function(email, i) { %>
        <div class="tm_email tm_email-schedule" data-uid="<%= email.get('uid') %>">

        <% if(!isMobile()) { %>
          <div class="tm_email-info">
            <div class="tm_email-title">
              <div class="tm_email-user email-collapse-expand">
                <span class="tm_userpic">
                  <svg><use xlink:href="/images/symbols.svg#profile"></use></svg>
                </span>
                <span class="tm_email-user-name email-from">
                  <!-- <span>John Appleseed</span> -->
                  <small><%= email.get("tos").join(", ") %></small>
                </span>
              </div>
              <div class="tm_email-snippet"><%= email.get("subject") %></div>
              <div class="tm_email-date<%= current_month ? ' fgred' : '' %>">
                <%= new Date(email.get('send_at')).toLocaleString(navigator.language,
                  {month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit'}) %>
              </div>
              <div class="tm_button-stack">
                <button type="button" class="tm_button delete-delayed-email-button">Delete</button>
                <button type="button" class="tm_button edit-delayed-email-button">Edit</button>
                <button type="button" class="tm_button send-delayed-email-button">Send</button>
              </div>
            </div>
          </div>

          <div class="tm_email-subject"><%= email.get("subject") %></div>
          <div class="tm_email-body">
            <div class="tm_email-body-html"><%= email.get("html_part") %></div>
          </div>

          <!-- <div class="tm_email-attachments">
            <a class="tm_email-attachment">Attached_file.pdf</a>
          </div> -->
        <% } else { %>
          <div class="tm_email-schedule-actions">
            <a class="tm_email-schedule-button send-delayed-email-button">
              <svg class="icon"><use xlink:href="/images/symbols.svg#mobile-send"></use></svg>
              <span>Send Now</span>
            </a>
            <a class="tm_email-schedule-button edit-delayed-email-button">
              <svg class="icon"><use xlink:href="/images/symbols.svg#mobile-edit"></use></svg>
              <span>Edit</span>
            </a>
            <a class="tm_email-schedule-button update-delayed-email-button">
              <svg class="icon"><use xlink:href="/images/symbols.svg#mobile-calendar"></use></svg>
              <span>Update</span>
            </a>
            <div class="tm_email-schedule-button tm_modal-menu dropdown">
              <div class="tm_email-schedule-button" data-toggle="dropdown">
                <svg class="icon"><use xlink:href="/images/symbols.svg#mobile-trash"></use></svg>
                <span>Delete</span>
              </div>
              <div class="dropdown-menu" role="menu">
                <ul>
                  <li><a class="delete-delayed-email-button fgred">Delete Email</a></li>
                  <li><a class="cancel-delayed-email-button">Keep Email</a></li>
                </ul>
                <ul>
                  <li><a class="cancel-delayed-email-button"><b>Cancel</b></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="tm_email-schedule-wrapper">
            <div class="tm_email-schedule-datetime">
              <svg class="icon"><use xlink:href="/images/symbols.svg#calendar"></use></svg>
              <span class="tm_email-schedule-date">
                <%= new Date(email.get('send_at')).toLocaleString(navigator.language, {month: 'short', day: 'numeric'}) %>
              </span>
              <span class="tm_email-schedule-time">
                <%= new Date(email.get('send_at')).toLocaleString(navigator.language, {hour: '2-digit', minute: '2-digit'}) %>
              </span>
            </div>
            <div class="tm_email-schedule-preview">
              <strong class="tm_email-schedule-to"><%= email.get("tos").join(", ") %></strong>
              <span class="tm_email-schedule-snippet">
                <b><%= email.get("subject") %></b>
                <%= email.get("text_part") %>
              </span>
            </div>
            <div class="tm_email-schedule-arrow">
              <svg class="icon"><use xlink:href="/images/symbols.svg#angle-right"></use></svg>
            </div>
          </div>

          <div class="tm_email-schedule-dtpicker"></div>
        <% } %>
        </div>
      <% }); %>
      </dd>
    </dl>
  <% } %>
<% } else { %>
  <div class='tm_empty-pane'>You have no scheduled emails.</div>
<% } %>